{% extends "base.html" %}

{% block title %}

Dashboard

{% endblock%}

{% block body %}

<div class="content">
    <div class="cardlist">
        {% for status, total in cartoes.items() %}
        <div class="card {{status}}">
            <div class="status">
                <span>
                    <p>{{ status }}</p>
                    <h3>{{ total }}</h3>
                </span>
                <span class="material-symbols-outlined {{status}}"></span>
            </div>
            
            <hr>

            <div class="d-icone">
                <span class="material-symbols-outlined">
                    calendar_month
                </span>
                Todo o tempo
            </div>
        </div>
        {% endfor %}
    </div>
    <div>
        <canvas id="myChart"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
const ctx = document.getElementById('myChart');

new Chart(ctx, {
    type: 'bar',
    data: {
    labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
    datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
    }]
    },
    options: {
    scales: {
        y: {
        beginAtZero: true
        }
    }
    }
});
</script>


{% endblock %}