{% extends "base.html" %}

{% block title %}

Finish

{% endblock%}

{% block body %}

<a href="/">Cancelar</a>


{% if form %}

<h1>Confirmar Agendamento</h1>

<fieldset>
    
<label>Serviço: </label>
{{servico.nome_servico}} <br>

<Label>Preço: </Label>
{{servico.preco_servico}} <br>

<label>Tempo: </label>
{{servico.tempo}} <br>

<label>Funcionário: </label>
{{session['funcionario']}} <br>

<label>Data: </label>
{{session['data']}} <br>

<label>Horário: </label>
{{session['horario']}} <br>

</fieldset>


<form method='POST'>
    {{ form.csrf_token }}

    {{form.botao_agendar()}}
</form>

{% endif %}

{% endblock%}