{% extends "base.html" %}

{% block title %}

Home

{% endblock%}

{% block body %}

<header>
    <div class="header">
        <div class="h-icone">
            <img src="../static/img/logo.png" alt="logo">
        </div>
        <div class="h-info">
            <h3>{{barbearia.nome}} - Aberto das 9h às 22h</h3>
            <small>{{barbearia.endereco}}, {{barbearia.cep}} {{barbearia.cidade}}-{{barbearia.uf}} </small>
        </div>
        <div class="h-rating">
            <h1>{{barbearia.nota}}/5</h1>
            <div style="display: flex;">
            {% for i in range(nota) %}
                    <img width="48" height="48" src="https://img.icons8.com/color/48/filled-star--v1.png" alt="filled-star--v1"/>
            {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="barra-pesquisa">
        <span class="icone">
            <svg stroke-linejoin="round" stroke-linecap="round" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" height="24" width="24" class="icon" xmlns="http://www.w3.org/2000/svg">
                <circle r="7" cy="10" cx="10"></circle>
                <line y2="15" x2="15" y1="21" x1="21"></line>
            </svg>
        </span>
        <input class="campo-pesquisa" type="search" placeholder="Busca por serviço">
    </div>    
</header>

<div class="menu">
    <div class="m-mostrar">
        <svg stroke-linejoin="round" stroke-linecap="round" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" height="24" width="24" class="rotate icon icon-tabler icon-tabler-chevron-down" xmlns="http://www.w3.org/2000/svg"><polyline points="6 9 12 15 18 9"></polyline></svg>
        <h1>Serviços</h1>
        <small>{{ servicos|length }} serviços</small>
    </div>

    <div class="itens v">
        {% for servico in servicos %}
        <div class="d-item">
            <div class="item">
                <p>{{servico.nome_servico}}</p>
                <span>
                    <p>R$ {{servico.preco_servico}}<br> {{servico.tempo.strftime('%M')}} min</p>
                    <a href="/agendamento/{{servico.id}}">Reservar</a>
                </span>
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>
</div>


<script>

// barra de pesquisa

const btnMostrar = document.getElementsByClassName("m-mostrar")[0]; // Selecionando o primeiro elemento
const listaItens = document.getElementsByClassName("itens")[0]; // Selecionando o primeiro elemento
const btnSeta = document.getElementsByClassName("rotate")[0];

btnMostrar.addEventListener('click', () => {
    listaItens.classList.toggle('v');
    btnSeta.classList.toggle('rotate');
});

//
function filtrarServicos() {
        var input, filtro, itens, texto;
        input = document.querySelector('.campo-pesquisa');
        filtro = input.value.toUpperCase();
        itens = document.querySelectorAll('.d-item');

        // Loop através de todos os itens e esconde aqueles que não correspondem à pesquisa
        itens.forEach(function(item) {
            texto = item.querySelector('p').innerText.toUpperCase();
            if (texto.indexOf(filtro) > -1) {
                item.style.display = '';
            } else {
                item.style.display = 'none';
            }
        });
    }

    // Adicione um ouvinte de evento ao campo de pesquisa para chamar a função de filtragem
    document.querySelector('.campo-pesquisa').addEventListener('keyup', filtrarServicos);

</script>

{% endblock %}